<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Product Manager</span>
</mat-toolbar>


<div class="containerX">
  <div class="colored box">
    <div class="left-side"> 
    </div>
    <div fxflex="60" class="main"> 
    	<router-outlet></router-outlet>
    </div>
    <div fxflex="" class="right-side"> </div>
  </div>
</div>

<footer>
  <span>&copy; 2018 <a href="https://kavyavsagar.blogspot.ae/" target="_blank">Kavya Sagar</a></span>
</footer>
