<h1 class="text-center">List Products</h1>
<div class="m20">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search name ...">
</mat-form-field>
<button mat-raised-button color="primary" routerLink="product" class="pull-right"><i class="material-icons">add</i> Add Product</button>
</div>
<div class="product-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" matSort>

   <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>SKU No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} <small>AED</small></mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
      	<button mat-icon-button color="primary" [routerLink]="['product', element.id]"><i class="material-icons" title="Edit">mode_edit</i></button>
		<button mat-icon-button color="primary" (click)="deleteProduct(element.id)"><i class="material-icons" title="Delete">delete</i></button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>